<!DOCTYPE html>
　　<html>
　　<head>
        <meta charset='utf-8'>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <link href='stylesheets/font.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
        <header>
          <div class="inner">
            <h1> Harry Chen </h1>
            <h2>welcome</h2>
            <a href="https://github.com/buffon" class="button"><small>View project on</small> GitHub</a>
          </div>
        </header>

        <div id="content-wrapper">
          <div class="inner clearfix">
            <section id="main-content">
　　　　      {{ content }}
            </section>

            <aside id="siderbar">
              <p> class="repo-owner">I'm a young boy who loves wife and tech.</p>
            </aside>
          </div>
        </div>
　　</body>
　　</html>